.landing-hero {
    display: flex;
    background: url("https://sun9-15.userapi.com/c857136/v857136641/5940c/OeirFPNh58w.jpg") no-repeat;
    background-size: cover;
    /*background-position-y: center;*/
    color: #fff;
    min-height: 80vh;
}

.landing-hero__description {
    float: left;
}

.landing-hero__img {
    padding-left: 20rem;
    float: left
}
.landing-who-we {
    background-color: #fff;
}


.persons-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*.persons-list__item {
    display: flex;
}*/
/*.persons-list__item {*/
/*    background-color: blue;*/
/*    flex-direction: column;*/
/*}*/