.landing-hero {
    display: flex;
    background: url("https://sun9-15.userapi.com/c857136/v857136641/5940c/OeirFPNh58w.jpg") no-repeat;
    background-size: cover;
    /*background-position-y: center;*/
    color: #fff;
    min-height: 80vh;

    align-content: center;
    justify-content: center;
}

.landing-hero__img {
    padding-left: 20rem;
    float: left
}
.landing-who-we {
    background-color: #fff;
}


.persons-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.persons-list__item {
    text-align: center;
    padding: 20px;
    background-color: rgba(11, 46, 19, 0.07);
    transition: transform 1s;
}

.persons-list__item:hover {
    transform: scale(1.02);
    transition: transform 1s;
}
.persons-list__icon {
    height: 50px;
    margin-bottom: 20px;
}

.persons-list__item + .persons-list__item {
    margin-left: 20px;
}
/*.persons-list__item {*/
/*    background-color: blue;*/
/*    flex-direction: column;*/
/*}*/

.demo-img {
}