<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Главная</title>
    <link rel="stylesheet" href="../css/govnostyles.css">
</head>
<body>
<header>
    <div class="container-fluid m-4">
        <div class="d-flex flex-row">
            <div class="navbar-brand col-3 align-content-center col">
                <img src="../images/logo.png" width="60" height="60" class="d-inline-block align-content-center" alt="">
                FTracker
            </div>
            <nav class="navbar navbar-expand navbar-dark bg-dark col rounded-left">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="home.html">Главная</a>
                        <a class="nav-item nav-link" href="profile.html">Профиль</a>
                        <a class="nav-item nav-link" href="#">Дневник</a>
                        <a class="nav-item nav-link" href="note.html">Заметка</a>
                        <a class="nav-item nav-link" href="advices.html">Советы</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid p-md-5">
        <div class="d-flex flex-row justify-content-around">
            <div class="col-7">
                <h1 class="display-4">Моя тренировка</h1>
                <ul class="list-group">
                    <li class="p-3">
                        <div class="flex-row d-flex">
                            <div class="h3 col-6 text-right">
                                <button type="button" class="btn btn-outline-light btn-sm ">Удалить</button>
                                Понедельник
                            </div>
                            <ul>
                                <li class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check1">
                                    <label for="check1" class="custom-control-label">Жим штанги лежа</label>
                                </li>
                                <li class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check2">
                                    <label for="check2" class="custom-control-label">Приседания с гантелями</label>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="p-3">
                        <div class="flex-row d-flex">
                            <div class="h3 col-6 text-right">
                                <button type="button" class="btn btn-outline-light btn-sm ">Удалить</button>
                                Среда
                            </div>
                            <ul>
                                <li class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check3">
                                    <label for="check3" class="custom-control-label">Разведение гантелей на
                                        скамье</label>
                                </li>
                                <li class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check4">
                                    <label for="check4" class="custom-control-label">Трицепс</label>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="p-3">
                        <div class="flex-row d-flex">
                            <div class="h3 col-6 text-right">
                                <button type="button" class="btn btn-outline-light btn-sm ">Удалить</button>
                                Пятница
                            </div>
                            <ul>
                                <li class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check5">
                                    <label for="check5" class="custom-control-label">Разведение гантелей на
                                        скамье</label>
                                </li>
                                <li class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check6">
                                    <label for="check6" class="custom-control-label">Трицепс</label>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <form action="">
                        <div class="input-group col-6 mb-3">
                            <input type="text" class="form-control"
                                   aria-label="Text input with segmented dropdown button"
                                   placeholder="День" name="newDay">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary">Добавить</button>
                            </div>
                        </div>
                    </form>
                </ul>
                <form action="">
                    <div class="input-group col-12">
                        <select class="custom-select" id="inputGroupSelect01" name="selectedDay">
                            <option selected disabled>Выбери день</option>
                            <option value="1">Понедельник</option>
                            <option value="2">Среда</option>
                            <option value="3">Пятница</option>
                        </select>
                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button"
                               placeholder="Упражнение">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-3">
                <h2>М - Мотивация</h2>
                <h5 class="font-italic">Бог есть и он Богдан</h5>
            </div>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>