<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Профиль</title>
</head>
<body>
<header>
    <div class="container-fluid m-4">
        <div class="d-flex flex-row">
            <div class="navbar-brand col-3 align-content-center col">
                <img src="img/logo.png" width="60" height="60" class="d-inline-block align-content-center" alt="">
                FTracker
            </div>
            <nav class="navbar navbar-expand navbar-dark bg-dark col rounded-left">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="home.html">Главная</a>
                        <a class="nav-item nav-link active" href="profile.html">Профиль</a>
                        <a class="nav-item nav-link" href="#">Отчет</a>
                        <a class="nav-item nav-link" href="advices.html">Советы</a>
                        <a class="nav-item nav-link" href="#">Графики</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<main>

    <div class="container-fluid p-md-5">
        <div class="d-flex flex-row p-5">
            <div class="col-3 text-right">
                <img src="img/ava.jpg" class="rounded img-fluid" width="250" height="250">
            </div>
            <p class="align-self-center col-10 display-4">
                Имя: Эльдар <br>
                Фамилия: Сакаев <br>
                Вес: 70 кг <br>
            </p>
        </div>
        <h2 class="d-flex flex-row ">
            <p class="text-center col-6">
                Среднее кол-во за день: <br><br>
                Белки: 73<br>
                Жиры: 35<br>
                Углеводы: 140<br>
            </p>
            <div class="text-center">
                <p class="">Цель : Набрать массу</p>
                <img src="img/graphic.png" width="500" class="rounded img-fluid">
            </div>
        </h2>

    </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>